@import "https://fonts.googleapis.com/css?family=Roboto+Mono";

html,
body {
  width: 100%;
  height: auto;
  margin: 0px;
  position: relative;
  background-color: #f0dc50;
}

#bg {
  position: fixed;
  background-color: white;
  opacity: 0.12;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all 10s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto Mono", monospace;
  color: #121212;
}

a {
  color: black;
}

ul {
  list-style-type: none;
 }
 li {
   margin: 20px 0px;
 }

a:hover {
  color: #f0dc50;
  background-color: #121212;
}

.blocks {
  padding: 20px;
  z-index: 10;
  position: relative;
}
.logo.block {
  width: 300px;
  height: 300px;
  background-size: 303px 303px;
  background-position: center center;
  background-image: url(../og.png);
}
.about {
  margin: 100px 0 20px;
  max-width: 800px;
}
.date {
  margin: 100px 0;
  font-size: 40px;
}
.place{
  /* opacity: 0.3; */
  filter: grayscale(100%);
}
.place:hover{
  filter: none;
}

.register {
  margin: 50px 10px;
  padding: 50px;
  font-size: 30px;
  color: white;
  background-color: #232323;
}

.register a {
  color: #f0dc50;
}

.speaker-num {
  margin: 70px 10px 0px;
  font-weight: bold;
}

.speaker-name {
  font-size: 35px;
}
.speaker-from {
  font-size: 20px;
}
.speaker-photo {
  width: 200px;
  height: 150px;
  background-size: cover;
  background-position: center center;
  filter: grayscale(100%);
  transition: all 1s ease;
  margin: 10px 10px 0;

}
.speaker-photo:hover {
  filter: none;
  /* width: 250px;
  height: 250px; */
}
.speaker-header {
  margin: 20px 0px 10px;
  font-size: 30px;
}

.speaker-text {
  margin: 0px 10px 50px;
  max-width: 800px;
}

.schedule {
  margin: 100px 10px;
  font-size: 35px;
}
.schedule-time {
  font-size: 20px;
}

.schedule-name {
  font-size: 30px;
  margin-left: 10px;
}

.previous {
  margin: 100px -20px;
  padding: 20px;
  font-size: 30px;
  background-color: white;
}

.previous a {
  text-decoration: none;
  font-size: 35px;
}
.previous a:hover {
  background-color: white;
}

.sponsors {
  font-size: 30px;
}
.sponsors a {
  display: block;
  margin: 40px 20px;
}

.sponsors a:hover {
  background-color: #f0dc50;
}

.sponsors img {
  width: 350px;
}

.organisers {
  margin: 100px 10px 300px;
  font-size: 25px;
}

.organizer-name {
  font-size: 20px;
  margin-top: 40px;
}
.organizer-position {
  font-size: 15px;
}

@media screen and (min-width: 900px) {
  .blocks {
    padding: 20px 20%;
  }
}